Q1: Give a count of all videos currently out.

In [ ]:
SELECT COUNT(*)
FROM rental
WHERE return_date is NULL

In [ ]:
Count
183

Q2: Make a list of all customer names who have videos out and how much they owe.

In [ ]:
SELECT first_name, last_name, COUNT(*) FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
WHERE return_date is NULL
GROUP BY first_name, last_name
ORDER BY last_name

In [ ]:
First_name	Last_name	Count
Rafael	Abney	1
Lisa	Anderson	1
Jordan	Archuleta	2
Melanie	Armstrong	1
Darryl	Ashcraft	1
Mildred	Bailey	2
Jessie	Banks	1
Daisy	Bates	1
Edward	Baugh	1
Jean	Bell	1

Q4: Using a $1 per day late fee. Find out which users owe the most assuming all rentals are a week long.

In [ ]:
SELECT customer.customer_id,
       date(rental.return_date) - date(rental.rental_date) - 7 AS late_fee
FROM rental
JOIN customer ON customer.customer_id = rental.customer_id
WHERE date(rental.return_date) - date(rental.rental_date) - 7 >= 0
ORDER BY late_fee DESC;

In [ ]:
Customer_id	Late_fee
106	3
498	3
343	3
509	3
539	3
187	3
327	3
51	3
182	3
207	3

Q5: What hour of the day to people rent the most ?

In [ ]:
SELECT EXTRACT(HOUR FROM rental_date) AS HOUR, 
COUNT(EXTRACT(HOUR FROM rental_date))
FROM rental
GROUP BY HOUR
ORDER BY COUNT DESC
LIMIT 1

In [ ]:
Hour	Count
15.00	887